{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	{% block navigtion %}
	<nav role="navigation" class="row">
		<div class="col s12 m2">
			{{site.title}} 
		</div>
		<div class="col s12 m7">
			<ul>
			{% for item in menu.get_items %}
				<li class="{{item.classes | join(' ')}}">
					<a href="{{item.get_link}}">{{item.title}}</a>
					{% include "menu.twig" with {'menu': item.get_children} %}
				</li>
			{% endfor %}
			</ul>
		</div>
		<div class="col s12 m3">
			{% include 'form-search.twig' %}
		</div>
	</nav>
	{% endblock %}
	<hr>
	<main role="main">
	{% block content %}
		Sorry, no content
	{% endblock %}
	</main>
	<hr>
	{% block footer %}
	<footer class="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
