{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	{% block navigtion %}
	<a class="usa-skipnav" href="#main-content">Skip to main content</a>
	<header class="usa-header usa-header-extended" role="banner" id="main-header">
	  <div class="usa-nav-container">
	    <div class="usa-navbar">
	      <button class="usa-menu-btn"><i class="fa fa-bars"></i></button>
	      <div class="usa-logo" id="logo">
	        <em class="usa-logo-text">
	          <a href="{{site.url}}" accesskey="1" title="Home" aria-label="{{site.title}}">{{site.title}}</a>
	        </em>
	      </div>
	    </div>
	  </div>
	</header>
	<nav role="navigation" class="usa-nav">
		<div class="usa-nav-inner">
			<button class="usa-nav-close">
				<i class="fa fa-close"></i>
			</button>
			<ul class="usa-nav-primary usa-accordion">
				{% for item in menu.get_items %}
				<li class="{{item.classes | join(' ')}}">
				{% if item.get_children %}
					<button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="{{item.title|replace({' ': '-'}) }}-nav">
						<span>{{item.title}}</span>
					</button>
					<ul id="{{item.title|replace({' ': '-'}) }}-nav" class="usa-nav-submenu">
					{% for child in item.get_children %}
						<li>
						<a href="{{child.get_link}}">{{child.title}}</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<a class="usa-nav-link" href="{{item.get_link}}">
						<span>{{item.title}}</span>
					</a>
				{% endif %}
				</li>
				{% endfor %}
			</ul>
			<div class="usa-nav-secondary">
				<form class="usa-search usa-search-small  js-search-form" action="{{site.url}}/" method="GET" aria-hidden="true">
					<div role="search">
						<label class="usa-sr-only" for="extended-search-field-small">Search small</label>
						<input id="extended-search-field-small" type="search" name="s">
						<button type="submit"><span class="usa-sr-only">Search</span></button>
					</div>
				</form>
				<ul class="usa-unstyled-list usa-nav-secondary-links">
					<li class="js-search-button-container">
						<button class="usa-header-search-button js-search-button">Search</button>
					</li>
					{% for item in secondary_menu.get_items %}
					<li>
						<a href="{{item.get_link}}">{{item.title}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	{% endblock %}

	<div class="usa-overlay"></div>
  	<main id="main-content" role="main">
	{% block content %}
		Sorry, no content
	{% endblock %}
	</main>

	{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
